  <div id="selector">
    <div class="btn-toolbar" id="options">
      <div class="btn-group">
        <span id="explore"><a href="/home/"><button class="btn btn-large">Explore</button></a></span>
      </div>  
      <div class="btn-group">
        <span id="trending"><a href="/trending/"><button class="btn btn-large">Trending shows</button></a></span>
      </div>
      <div class="btn-group">
        <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Browse by Genre <span class="caret"></span></button>
        <ul class="dropdown-menu">
                  <li><a href="/genre/Action/">Action</a></li>
                  <li><a href="/genre/Adventure/">Adventure</a></li>
                  <li><a href="/genre/Animation/">Animation</a></li>
                  <li><a href="/genre/Comedy/">Comedy</a></li>
                  <li><a href="/genre/Crime/">Crime</a></li>
                  <li><a href="/genre/Drama/">Drama</a></li>
                  <li><a href="/genre/Family/">Family</a></li>
                  <li><a href="/genre/Horror/">Horror</a></li>
                  <li><a href="/genre/Musical/">Musical</a></li>
                  <li><a href="/genre/Mystery/">Mystery</a></li>
                  <li><a href="/genre/Romance/">Romance</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% if not user.is_authenticated %}

    <div id="UnauthCallout" class="well">
    
      <div class="Nag">
        <div class="Sheet1 Sheet">

          <p><center><strong>SocialTV is an TV show recommendation app. Download & share the shows you ❤</strong></center></p>
          <div><center>
            <a href="/authenticate/" class="btn btn-primary" style="font-size:14px;">
              Join SocialTV »</center></a>
          </div>
        </div>
      </div>
    
  <div class="NagSpacer" style="height: 80px;"></div>
</div>

  {% endif %}